@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --border-color: #f1f1f1;
  --main-color: #802c6e;
  --nav-color: #fafafa;
  --star-foreground: #ffc000;
  --star-background: #d0d0d0;
  --linkedin-icon-color: #0a66c2;
}


.custom-container {
  @apply container px-[15px] mx-auto;
}

.badge {
  @apply inline-block rounded-[5px] px-[0.65rem] py-[0.35rem] text-white bg-[color:var(--main-color)] text-[0.9rem];
}

.button {
  @apply cursor-pointer inline-block px-4 py-2 mr-2 rounded-md bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--main-color);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: var(--star-background);
  overflow: hidden;
}
.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: var(--star-foreground);
}
.empty-stars:before,
.full-stars:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 14pt;
}
