@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --border-color: #f1f1f1;
  --main-color: #802c6e;
  --nav-color: #fafafa;
  --star-foreground: #ffc000;
  --star-background: #d0d0d0;
  --linkedin-icon-color: #0a66c2;
  --error-text: #dc3545;
}

.custom-container {
  @apply container px-[15px] mx-auto;
}

.badge {
  @apply inline-block rounded-[5px] px-[0.65rem] py-[0.35rem] text-white bg-[color:var(--main-color)] text-[0.9rem];
}

.button {
  @apply inline-block px-4 py-2 mr-2 rounded-md bg-blue-500 text-white hover:bg-blue-600 duration-300;
}
